<div class="container">

        <nav *ngIf="mostrarMenu">
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Admin</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Adicionar</a></li>
                    <li><a href="#">Alterar</a></li>
                    <li><a href="#">Excluir</a></li>
                  </ul>
                </div>
              </nav>
                                  
<router-outlet></router-outlet>
</div>